# Web Scraping AHA Hockey Standings

Prior to moving to Dallas, Texas I played in a hockey league called the Adult Hockey Association. They keep track of player and team stats and I always thought it would be fun to scrape the information from their website to do my own analytics on the data. Here I will be doing some basic scraping of the stats around the league I play in. I am currently on the Battle Cats and we are having a pretty good season so far.

### Import packages needed to Web Scrape, I will be using Beautiful Soup

In [130]:
import pandas as pd
import urllib.request
from bs4 import BeautifulSoup

### We choose the website we want to look at and specifically the current league I play in

In [131]:
website ="https://www.ahahockey.com/standings/twin-cities?selected_tier=316"

### Download the HTML code and start a BeautifulSoup Object

In [138]:
response = urllib.request.urlopen(website)
the_website = response.read()
soup = BeautifulSoup(the_website, "html.parser")

### We can find the table with the data using the following

In [139]:
for x in soup.find_all('td'):
    print(x.get_text().strip())

Name
GP
W
L
T
OTL
Pts
SF
SA
GF
GA
PIMS
Seed
River Pirates
17
16
1
0
0
32
605
504
108
39
130
1
Barons B3
17
13
4
0
0
26
605
548
108
58
142
2
Battle Cats
17
12
4
1
0
25
565
502
88
63
112
3
Fighting Loons B3
17
11
6
0
0
22
646
506
92
59
74
4
Fighting Piranhas B3
17
10
5
2
0
22
598
477
72
63
89
5
Rack Attack B3
17
7
8
2
0
16
554
567
64
72
147
6
Venom B3
17
6
11
0
0
12
628
560
54
60
140
7
Spitfires B3
17
4
13
0
0
8
425
639
53
95
80
8
Northern Horde B3
17
2
13
1
1
6
492
534
53
92
84
9
Monster Squad
17
1
16
0
0
2
458
739
37
128
119
10

### Define some lists to store the data in and iterate over the list to get all of the data

In [135]:
name = []
gp = []
W = []
L = []
T = []
OTL = []
Pts = []
SF = []
SA = []
GF = []
GA = []
PIMS = []
Seed = []
counter = 1
for x in soup.find_all('td'):
    if counter == 1:
        name.append(x.get_text().strip())
        counter += 1
    elif counter == 2:
        gp.append(x.get_text().strip())
        counter += 1
    elif counter == 3:
        W.append(x.get_text().strip())
        counter += 1
    elif counter == 4:
        L.append(x.get_text().strip())
        counter += 1
    elif counter == 5:
        T.append(x.get_text().strip())
        counter += 1
    elif counter == 6:
        OTL.append(x.get_text().strip())
        counter += 1
    elif counter == 7:
        Pts.append(x.get_text().strip())
        counter += 1
    elif counter == 8:
        SF.append(x.get_text().strip())
        counter += 1
    elif counter == 9:
        SA.append(x.get_text().strip())
        counter += 1
    elif counter == 10:
        GF.append(x.get_text().strip())
        counter += 1
    elif counter == 11:
        GA.append(x.get_text().strip())
        counter += 1
    elif counter == 12:
        PIMS.append(x.get_text().strip())
        counter += 1
    elif counter == 13:
        Seed.append(x.get_text().strip())
        counter = 1

### Turn our Lists into a pandas DataFrame

In [136]:
Hockey_data = pd.DataFrame([name,gp, W, L, T, OTL, Pts, SF, SA, GF, GA, PIMS, Seed])
Hockey_data

,0,1,2,3,4,5,6,7,8,9,10
0,Name,River Pirates,Barons B3,Battle Cats,Fighting Loons B3,Fighting Piranhas B3,Rack Attack B3,Venom B3,Spitfires B3,Northern Horde B3,Monster Squad
1,GP,17,17,17,17,17,17,17,17,17,17
2,W,16,13,12,11,10,7,6,4,2,1
3,L,1,4,4,6,5,8,11,13,13,16
4,T,0,0,1,0,2,2,0,0,1,0
5,OTL,0,0,0,0,0,0,0,0,1,0
6,Pts,32,26,25,22,22,16,12,8,6,2
7,SF,605,605,565,646,598,554,628,425,492,458
8,SA,504,548,502,506,477,567,560,639,534,739
9,GF,108,108,88,92,72,64,54,53,53,37
10,GA,39,58,63,59,63,72,60,95,92,128
11,PIMS,130,142,112,74,89,147,140,80,84,119
12,Seed,1,2,3,4,5,6,7,8,9,10

### Lets Make the Dataframe match the website

In [137]:
Hockey_data = Hockey_data.transpose()
titles = Hockey_data.iloc[0]
Hockey_data = Hockey_data[1:]
Hockey_data.columns = titles
Hockey_data

0                   Name  GP   W   L  T OTL Pts   SF   SA   GF   GA PIMS Seed
1          River Pirates  17  16   1  0   0  32  605  504  108   39  130    1
2              Barons B3  17  13   4  0   0  26  605  548  108   58  142    2
3            Battle Cats  17  12   4  1   0  25  565  502   88   63  112    3
4      Fighting Loons B3  17  11   6  0   0  22  646  506   92   59   74    4
5   Fighting Piranhas B3  17  10   5  2   0  22  598  477   72   63   89    5
6         Rack Attack B3  17   7   8  2   0  16  554  567   64   72  147    6
7               Venom B3  17   6  11  0   0  12  628  560   54   60  140    7
8           Spitfires B3  17   4  13  0   0   8  425  639   53   95   80    8
9      Northern Horde B3  17   2  13  1   1   6  492  534   53   92   84    9
10         Monster Squad  17   1  16  0   0   2  458  739   37  128  119   10

### Using Beatiful Soup we were able to scrape the AHA website to get some data on the Hockey League I play in.